{{#game-controls}}
  {{#if userOwnsRoom}}
    {{bs-button
      defaultText="Start new game"
      type="primary"
      onClick=(action "startNewGame")
      classNames="mb-2"}}

    {{bs-button
      defaultText="Next goal"
      type="primary"
      disabled=(not readyForNextGoal)
      onClick=(action "getNextGoal") classNames="mb-2"}}
  {{/if}}
  {{bs-button
    defaultText="Preview winning moves"
    type="primary"
    disabled=(is-empty winningMoves)
    onClick=(action "previewMoves" winningMoves)
    classNames="mb-2"}}
  {{#if board}}
    <div class="d-flex mb-2">
      <div class="flex-grow-1 mr-2">
        {{input
          value=nrMoves
          title="solution"
          type="text"
          placeholder="Moves"
          autofocus=true
          disabled=cantProvideSolution
          class="form-control"}}
      </div>
      {{bs-button
        defaultText="Send"
        type="primary"
        onClick=(action "sendNumberOfMoves" nrMoves)
        disabled=(or cantProvideSolution (is-empty nrMoves))
        classNames="ml-2"}}
    </div>
    {{bs-button
      defaultText="Reset"
      type="primary"
      disabled=(lt board.moves.length 1)
      onClick=(action "resetMoves")
      classNames="mb-2"}}
    {{#if solutionTimerTask.isRunning}}
      <p class="mb-2">Time left to provide solution: {{solutionTimer}}</p>
    {{/if}}
    {{#if (and canProvideMoves movesTimerTask.isRunning)}}
      <p class="mb-2">Time left to provide moves: {{movesTimer}}</p>
    {{/if}}
  {{/if}}
{{/game-controls}}
{{#if board}}
  {{board-canvas
    board
    onClick=(action "clickedBoard")
    boardSizeCalculated=(action "boardSizeCalculated")}}
{{else}}
{{! Placeholder board }}
  <div style="width:800px;height:800px" class="gray-borders"></div>
{{/if}}
{{game-log room=room user=user}}