<div id="game-controls" class="d-flex flex-column gray-borders mr-2 p-2">
  {{#if userOwnsRoom}}
    {{bs-button defaultText="Start" type="primary" onClick=(action "start")}}
    <p>This will generate a new board and start the game</p>
  {{/if}}
  {{#if board}}
    <div class="d-flex">
      <div class="flex-grow-1 mr-2">
        {{input
          value=nrMoves
          title="solution"
          type="text"
          placeholder="Moves"
          autofocus=true
          disabled=cantProvideSolution
          class="form-control"}}
      </div>
      {{bs-button
        defaultText="Send"
        type="primary"
        onClick=(action "sendNumberOfMoves" nrMoves)
        disabled=cantProvideSolution
        classNames="ml-2"}}
    </div>
    {{#if (gt board.moves.length 0)}}
      {{bs-button
        defaultText="Reset"
        type="primary"
        onClick=(action "resetMoves")
        classNames="mt-2"}}
    {{/if}}
    {{#if solutionTimerTask.isRunning}}
      <p>Time left to provide solution: {{solutionTimer}}</p>
    {{/if}}
    {{#if (and canProvideMoves movesTimerTask.isRunning)}}
      <p>Time left to provide moves: {{movesTimer}}</p>
    {{/if}}
  {{/if}}
</div>
{{#if board}}
  {{board-canvas board onClick=(action "clickedBoard")}}
{{else}}
{{! Placeholder board }}
  <div style="width:800px;height:800px" class="gray-borders flex-shrink-0"></div>
{{/if}}