<div id="game-controls" class="d-flex flex-column gray-borders mr-2 p-2">
  {{#if userOwnsRoom}}
    {{bs-button defaultText="Start new game" type="primary" onClick=(action "startNewGame") classNames="mb-2"}}
  {{/if}}
  {{#if (and userOwnsRoom readyForNextGoal)}}
    {{bs-button defaultText="Next goal" type="primary" onClick=(action "getNextGoal") classNames="mb-2"}}
  {{/if}}
  {{#if board}}
    <div class="d-flex mb-2">
      <div class="flex-grow-1 mr-2">
        {{input
          value=nrMoves
          title="solution"
          type="text"
          placeholder="Moves"
          autofocus=true
          disabled=cantProvideSolution
          class="form-control"}}
      </div>
      {{bs-button
        defaultText="Send"
        type="primary"
        onClick=(action "sendNumberOfMoves" nrMoves)
        disabled=cantProvideSolution
        classNames="ml-2"}}
    </div>
    {{#if (gt board.moves.length 0)}}
      {{bs-button
        defaultText="Reset"
        type="primary"
        onClick=(action "resetMoves")
        classNames="mb-2"}}
    {{/if}}
    {{#if solutionTimerTask.isRunning}}
      <p class="mb-2">Time left to provide solution: {{solutionTimer}}</p>
    {{/if}}
    {{#if (and canProvideMoves movesTimerTask.isRunning)}}
      <p class="mb-2">Time left to provide moves: {{movesTimer}}</p>
    {{/if}}
  {{/if}}
</div>
{{#if board}}
  {{board-canvas
    board
    onClick=(action "clickedBoard")
    boardSizeCalculated=(action "boardSizeCalculated")}}
{{else}}
{{! Placeholder board }}
  <div style="width:800px;height:800px" class="gray-borders flex-shrink-0"></div>
{{/if}}
{{game-log room=room user=user}}